{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Instances of {{entity.name}}</h1>
        {% if instances|length == 0 %}
            <i>No instances</i>
        {% else %}
            <table>
                <thead>
                <tr>
                    <td><b>ID</b></td>
                    {% for f in entity.features %}
                        <td><b>{{f.name}}</b></td>
                    {% endfor %}
                    <td><b>actions</b></td>
                </tr>
                </thead>
                {% for i in instances %}
                    <tr>
                        <td>#{{i.id}}</td>
                        {% for f in entity.features %}
                            <td><i>{{i.values[f]}}</i>                             </td>
                        {% endfor %}
                        <td>
                            <a href="/entity/{{entity.name}}/show/{{ i.id }}"><i class="icon-circle-arrow-right"></i></a>
                            <a href="/entity/{{entity.name}}/delete/{{ i.id }}"><i class="icon-eraser"></i></a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}
        <div class="actions">
            <a class="add-button" href="/entity/{{ entity.name }}/add">Add {{entity.name}}</a>
        </div>
    </div>
{% endblock %}
